C1/
__pycache__/
*.png
filtered_1px.txt

X00_Am241_1ps_clusters.png
__pycache__/DPE_functions.cpython-311.pyc
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_7309_E.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_7309_E.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_7832_E.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_7832_E.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_8355_E.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_8355_E.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_9400_E.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_9400_E.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_10027_E.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_10027_E.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_18058_E.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_18058_E.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_19103_E.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_19103_E.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_19626_E.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_19626_E.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_20149_E.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_20149_E.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_28806_E.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_28806_E.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_29329_E.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_29329_E.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_29852_E.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_29852_E.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_30374_E.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_30374_E.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_30897_E.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_30897_E.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_31420_E.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/Cluster_31420_E.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/ClusterMaxSize_E.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/ClusterMaxSize_E.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/ClusterPlotEnergy_Class1.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/ClusterPlotEnergy_Class1.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/ClusterPlotEnergy_Class2.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/ClusterPlotEnergy_Class2.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/ClusterPlotEnergy_Class3.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/ClusterPlotEnergy_Class3.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/ClusterPlotEnergy_Integrated.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/ClusterPlotEnergy_Integrated.txt
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/ClusterPlotEnergy_Partial.png
C1/D04_TPX3_CdTe1000/01/ClusterSensorPlots/ClusterPlotEnergy_Partial.txt
C1/D04_TPX3_CdTe1000/01/Files/ClusterLog.clog
C1/D04_TPX3_CdTe1000/01/Files/ClusterLog.clog.idx
C1/D04_TPX3_CdTe1000/01/Files/Elist.txt
C1/D04_TPX3_CdTe1000/01/Files/ExtElist.txt
C1/D04_TPX3_CdTe1000/01/Files/MASK_itot_cnt_.clog
C1/D04_TPX3_CdTe1000/01/Files/SamplingList.json
C1/D04_TPX3_CdTe1000/01/Files/SamplingList.txt
C1/D04_TPX3_CdTe1000/01/Graphs/GraphClass_DoseRate.png
C1/D04_TPX3_CdTe1000/01/Graphs/GraphClass_Edep.png
C1/D04_TPX3_CdTe1000/01/Graphs/GraphClass_Flux.png
C1/D04_TPX3_CdTe1000/01/Graphs/GraphClass_N.png
C1/D04_TPX3_CdTe1000/01/Graphs/GraphTotal_DoseRate.png
C1/D04_TPX3_CdTe1000/01/Graphs/GraphTotal_Edep.png
C1/D04_TPX3_CdTe1000/01/Graphs/GraphTotal_Flux.png
C1/D04_TPX3_CdTe1000/01/Graphs/GraphTotal_N.png
C1/D04_TPX3_CdTe1000/01/Histograms/ClusterVariables_LogY.png
C1/D04_TPX3_CdTe1000/01/Histograms/ClusterVariables.png
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_BorderPixN_0.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_BorderPixN_0.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_BorderPixN_1.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_BorderPixN_1.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_BorderPixN_2.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_BorderPixN_2.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_BorderPixN_Others.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_BorderPixN_Others.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_BorderPixN_Total.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_BorderPixN_Total.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_BorderPixN_Total.png
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_0.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_0.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_1.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_1.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_2.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_2.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_EqBin_0.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_EqBin_0.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_EqBin_1.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_EqBin_1.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_EqBin_2.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_EqBin_2.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_EqBin_Others.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_EqBin_Others.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_EqBin_Total.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_EqBin_Total.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_EqBin_Total.png
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_Others.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_Others.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_Total.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_Total.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_E_Total.png
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_EpixMean_0.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_EpixMean_0.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_EpixMean_1.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_EpixMean_1.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_EpixMean_2.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_EpixMean_2.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_EpixMean_Others.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_EpixMean_Others.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_EpixMean_Total.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_EpixMean_Total.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_EpixMean_Total.png
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_H_0.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_H_0.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_H_1.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_H_1.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_H_2.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_H_2.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_H_Others.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_H_Others.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_H_Total.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_H_Total.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_H_Total.png
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_L2D_0.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_L2D_0.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_L2D_1.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_L2D_1.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_L2D_2.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_L2D_2.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_L2D_Others.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_L2D_Others.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_L2D_Total.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_L2D_Total.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_L2D_Total.png
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_0.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_0.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_1.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_1.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_2.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_2.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_EqBin_0.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_EqBin_0.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_EqBin_1.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_EqBin_1.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_EqBin_2.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_EqBin_2.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_EqBin_Others.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_EqBin_Others.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_EqBin_Total.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_EqBin_Total.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_EqBin_Total.png
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_Others.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_Others.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_Total.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_Total.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_LET_Total.png
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Linear_0.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Linear_0.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Linear_1.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Linear_1.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Linear_2.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Linear_2.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Linear_Others.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Linear_Others.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Linear_Total.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Linear_Total.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Linear_Total.png
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PIDClass_0.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PIDClass_0.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PIDClass_1.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PIDClass_1.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PIDClass_2.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PIDClass_2.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PIDClass_Others.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PIDClass_Others.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PIDClass_Total.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PIDClass_Total.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PIDClass_Total.png
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PolarAngle_0.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PolarAngle_0.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PolarAngle_1.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PolarAngle_1.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PolarAngle_2.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PolarAngle_2.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PolarAngle_Others.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PolarAngle_Others.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PolarAngle_Total.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PolarAngle_Total.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_PolarAngle_Total.png
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Round_0.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Round_0.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Round_1.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Round_1.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Round_2.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Round_2.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Round_Others.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Round_Others.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Round_Total.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Round_Total.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Round_Total.png
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_S_0.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_S_0.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_S_1.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_S_1.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_S_2.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_S_2.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_S_Others.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_S_Others.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_S_Total.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_S_Total.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_S_Total.png
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_W2D_0.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_W2D_0.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_W2D_1.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_W2D_1.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_W2D_2.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_W2D_2.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_W2D_Others.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_W2D_Others.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_W2D_Total.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_W2D_Total.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_W2D_Total.png
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_X_0.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_X_0.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_X_1.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_X_1.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_X_2.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_X_2.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_X_Others.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_X_Others.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_X_Total.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_X_Total.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_X_Total.png
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Y_0.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Y_0.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Y_1.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Y_1.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Y_2.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Y_2.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Y_Others.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Y_Others.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Y_Total.hist
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Y_Total.hist_info
C1/D04_TPX3_CdTe1000/01/Histograms/Hist1D_Y_Total.png
C1/D04_TPX3_CdTe1000/01/SigVec/SigVec.vec
C1/D04_TPX3_CdTe1000/01/SigVec/SigVec.vec_info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EMap_1.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EMap_1.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EMap_2.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EMap_2.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EMap_3.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EMap_3.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EMap_Others.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EMap_Others.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EMap_Total.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EMap_Total.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EMap_Total.png
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EpixMap_1.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EpixMap_1.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EpixMap_2.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EpixMap_2.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EpixMap_3.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EpixMap_3.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EpixMap_Others.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EpixMap_Others.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EpixMap_Total.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EpixMap_Total.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_EpixMap_Total.png
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_LETMap_1.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_LETMap_1.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_LETMap_2.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_LETMap_2.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_LETMap_3.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_LETMap_3.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_LETMap_Others.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_LETMap_Others.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_LETMap_Total.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_LETMap_Total.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_LETMap_Total.png
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_SMap_1.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_SMap_1.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_SMap_2.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_SMap_2.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_SMap_3.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_SMap_3.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_SMap_Others.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_SMap_Others.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_SMap_Total.data
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_SMap_Total.info
C1/D04_TPX3_CdTe1000/01/SpatialMaps/Hist2D_SMap_Total.png
